//WEB JABALI DEL AHORRO 1

//Background Colors
$dark-primary-color:#EA5627;
$accent-color:#D32F2F;
$white-primary-color:#FFFFFF;
$primary-color:#eb6b38;
$login-color:#eeeeee;
$check-border:#ccc;
$no-background:transparent;
$perfil-text-color:#615f5f;
$perfil-bluebox-color:	#2433d9;
$perfil-scroll-green:#009933;
$perfil-scroll-brown:#993300;
$perfil-mobile-text:#b3b3b3;

$perfil-mobile-encabezado-color:#d9d9d9;

//Fonts
$perfil-text-font: 'Montserrat', sans-serif;